html body {
    background-image: url(spacepizza.jpg);
    background-size: cover;
    position: relative;
    height: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
    font-family: "Comic Sans MS";
    font: bold;
    font-size: large;

}

.header {
    width: 100%;
    height: 182px;
    padding: 1px;
    margin: 0 auto 0 auto;
    background-color: rgba(21, 255, 0, 0.8);
}
#timer{
    position: absolute;
    left: 5px;
    top: 15px;
}
#logo {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
}
.menu {
    width: 100%;
    height: 20px;
    position: relative;
    margin: 0 auto 0 auto;
    background-color: rgb(255, 255, 255, 0.8);
}
#menup {
    display: inline;
}
a {
    color: rgb(255, 0, 0);
}
a:hover {
    font-size: 30px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .contentIndex {
    position: relative;
    margin-left: 85px;
    width: 500px;
    height: 250px;
    text-align: center;
    float: left;
    padding: 15px;
    background-color: rgb(255, 255, 255, 0.7);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    text-align: center;
    position: relative;
    width: 600px;
    padding: 10px;
    float: initial;
    background-color: rgb(255, 255, 255, 0.7);
    display: block;
    margin: auto;
}
.content2 {
    text-align: center;
    opacity: 1;
    color: black;
    z-index: 2;
}
#text {
    font-size: 17px;
    opacity: 1;
}
#text2 {
    font-size: 17px;
    text-align: left;
}
q{
    font-size: 25px;
}
#space {
    width: 400px;
    height: 400px;
}
#space2 {
    width: 400px;
    height: 3700px;
}
#rubrik {
    font-size: 20px;
    color:black;
}
button {
    color: black;
    opacity: 1;
    font-size: 15px;
}
.image {
    width: 300px;
    height: 150px;
    text-align: center;
}
form{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 300px;
    padding: 30px;
    float: initial;
    margin: auto;
    display: flex;
    flex-direction: column;
}
footer {
    position: relative;
    width: 95%;
    height: 50px;
    padding: 5px;
    margin: auto;
    background-color: rgb(255, 255, 255, 0.8);
    opacity: 0.8;
}




.themeSelector{
    width: 300px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 90px;
    overflow: hidden;
    padding: 0;
}
#pThemes {
    margin: 0;
    position: absolute;
    height: 150px;
    width: 200px;
    vertical-align: middle;
    line-height: 90px; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: 0px left;
    
    
}
.themeSelector :hover + .buttons, .themeSelector{
    position: absolute;
    transform: translateX(0%);

    transition: all 0.5s ease;
    
    

}

.themeSelector button{
    display: block;
    padding: 1px;
    width: 150px;
    height: 30px;
    opacity: 0.75;
}
.buttons{
    position: absolute;
    right: -1px;
    transform: translateX(+100%);
    border-left: 2px solid black;

}
.buttons:hover{
    transform: translateX(0%);
    color: green;
    transition: all 0.5s ease;

    
}
.buttons button {
    background-color: rgb(136, 0, 113);
    border: 0;
}
.buttons button:hover {
    background-color: rgb(28, 39, 0);
    border: 0;
    opacity: 1;
}